* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #fff;
    padding: 2em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 150px;
    margin-left: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
}

header .logo .logo-img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: .8em;
}

header nav.web ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

header nav ul li a.active {
    color: #ff804e;
}

header nav ul li a:hover {
    color: #ff804e;
}

header nav.mobile {
    display: none;
}

header .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .login button:first-child, .login-mobile button:first-child {
    background-color: #fff;
    color: #ff804e;
    border: 1px solid #ff804e
}

header .login button:first-child:hover, .login-mobile button:first-child:hover {
    background-color: #ff804e;
    color: #fff;
}

header .login button, .login-mobile button {
    background-color: #ff804e;
    color: #fff;
    border: 1px solid #ff804e;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

header .login button:hover, .login-mobile button:hover {
    background-color: #fff;
    color: #ff804e;
}

main {
    padding: 0 4em;
    height: 90%;
}

main .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 95%;
}

main .main-content .main-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-content .main-text h1 {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

main .main-content .main-text h1 span {
    color: #ff804e;
}

main .main-content .main-text p {
    font-size: 1rem;
    font-weight: 500;
    color: #8f8f8f;
    margin-bottom: 20px;
}

main .main-content .main-text .buttons {
    display: flex;
    gap: .8em;
}

main .main-content .main-text button {
    background-color: #ff804e;
    color: #fff;
    border: 1px solid #ff804e;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

main .main-content .main-text button:last-child {
    background-color: #fff;
    color: #999999;
    border: 1px solid #999999;
}

main .main-content .main-text button:hover {
    background-color: #fff;
    color: #ff804e;
    border: 1px solid #ff804e;
}

main .main-content .main-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main .main-content .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {

    body {
        overflow-y: auto;
    }

    header {
        padding: 2em 2em;
    }

    header .logo {
        margin: 0;
    }

    header nav.web {
        display: none;
    }

    header .login {
        display: none;
    }

    header nav.mobile {
        display: block;
        position: relative;
    }

    header nav.mobile .menu {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }

    header nav.mobile .menu span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ff804e;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
    }
    header nav.mobile .menu span:nth-child(1) {
        top: 0;
    }
    header nav.mobile .menu span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }
    header nav.mobile .menu span:nth-child(3) {
        bottom: 0;
    }
    header nav.mobile .menu.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    header nav.mobile .menu.active span:nth-child(2) {
        opacity: 0;
    }
    header nav.mobile .menu.active span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    header nav.mobile .menu.active {
        background-color: transparent;
    }
    header nav.mobile .menu.active span {
        background-color: #fff;
    }
    header nav.mobile .menu.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    header nav.mobile .menu.active span:nth-child(2) {
        opacity: 0;
    }
    header nav.mobile .menu.active span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    header nav.mobile .menu.active {
        background-color: transparent;
    }
    header nav.mobile .menu.active span {
        background-color: #fff;
    }
    header nav.mobile .menu.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    header nav.mobile .menu.active span:nth-child(2) {
        opacity: 0;
    }
    header nav.mobile .menu.active span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    header nav.mobile .menu.active {
        background-color: transparent;
    }
    header nav.mobile .menu.active span {
        background-color: #ff804e;
    }
    header nav.mobile .menu.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    header nav.mobile .menu.active span:nth-child(2) {
        opacity: 0;
    }
    header nav.mobile .menu.active span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    header nav.mobile .menu.active {
        background-color: transparent;
    }

    header nav.mobile .nav-links {
        position: absolute;
        top: 110%;
        left: -70px;
        width: 120px;
        background-color: #fff;
        padding: 1em 0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        list-style-type: none;
    }

    .nav-links.open {
        opacity: 1 !important;
        visibility: visible !important;
    }

    header nav.mobile .nav-links li {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    header nav.mobile .login-mobile {
        display: flex;
        flex-direction: column;
        padding: 0 .5em;
        gap: .5em;
        width: 100%;
        text-align: center;
    }

    main {
        padding: 2em 2em;
    }

    main .main-content {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    main .main-content .main-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    main .main-content .main-text h1 {
        /* font-size: 2rem; */
    }

    main .main-content .main-text p {
        font-size: 1rem;
    }

    main .main-content .main-text button {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
    }

    main .main-content .main-text button:hover {
        background-color: #ff804e;
        color: #fff;
    }

    main .main-content .main-image {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
    }

    main .main-content .main-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}